/*
Project Name: Assignment 3
Client: Relaxr
Author: Pip Kelly
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background-color: #fff;
     clear: both;
     margin: auto;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

header {
    background-color: #033048;
    height: 100px;
}


.container {
    width: 980px;
    background-color: #fff;
} 

.main-content {
    width: 700px;
    margin-right: 20px;
    float: left;
    padding: 80px 5px 0 50px;
}

.right-content {
    float: left;
    width: 240px;
    padding: 80px 10px 0 0;
}

#article1, #article2 {
    clear:both;
    margin: 0 auto;
    max-height: 540px;
    overflow: hidden;
}

#article.open {
    max-height: 800px;
}

footer {
    background: #000;
    padding: 25px;
    text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 800;
    padding: 15px 0 0 50px;  
    display: inline-block;
    width: 300px;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    color: #696969;
    line-height: 46px;
    padding-bottom: 10px;
}

h3 {
    font-weight: 800;
    font-size: 28px;
    color: #033048;
    padding: 0 0 10px 2px;
}

header nav {
    display: inline-block;
} 

header nav a {
    color: #f9e42e;
    font-size: 24px;
    font-weight: 400;
    padding: 0 10px 0 10px;
    text-decoration: none;
}

h4 {
    font-size: 46px;
    font-weight: 800;
    color: #f9e42e;
}

.main-content img{
    width: 100%;
    padding-bottom: 20px;
}

.main-content p {
    color: #a5a5a5;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 14px 0;
}
.main-content p.caps:first-letter {
    float: left;
    font-size: 80px;
    line-height: 65px;
    padding: 4px 8px 0 3px;
    font-weight: 600;
}

.main-content a {
    text-decoration: none;
    color: #696969;
    font-size: 18px;
    font-weight: 600;
}

hr {
    clear: both;
    margin: 50px 0 20px 0;   
}

.read-more1 a, .read-more2 a {
    padding: 0 0 20px 0;  
    float: right;
}

#read-more1 a, #read-more2 a {
    margin: 0;
}

a:hover {
    color: #033048;
}


.right-content nav, ul, li, a {
    color: #033048;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    padding: 5px 0 5px 2px;
}


.right-content p {
    color: #033048;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    padding: 0 4px 0 2px;
}

.learn-more a {
    display: block;
    font-weight: 800;
}

.sign-up {
    background: #f9e42e;
    clear: both;
    padding: 20px;  
    text-align: center;
}

.sign-up a {
    width: 150px;
    color: #fff;
    background: #033048;
    padding: 10px;
}

aside img {
    padding-top: 10px;
}

footer p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
} 

footer img {
    padding: 50px 25px 50px 25px;
}